.moverBotones{
  margin-left: auto;

}

.perfil{
  margin-top: 2%;
  border-radius: 46%;
  width: 100px;
}

.fondo{
  background-color: #66707E;
}

#Nombre{
  margin-top: 2%;
  color: black ;
}

.misBotones button {
  margin-top: 3%;
  margin: 1%;

}


.sobreMi{
  box-shadow: rgba(0,0,0, 0.35) 0px 5px 15px;
  background-color: transparent;
  margin-top: 1%;


}


.dato{
  color: black;
}


.XP{
  box-shadow: rgba(0,0,0, 0.35) 0px 5px 15px;
  background-color: transparent;
  margin-top: 1%;

}


.texto{
  margin-top: 2%;
  color: black ;




}

.botonsend{
  margin-left: 48%;
  margin-top: 1%;
}
